<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Navi">

<resultMap type="kh.pet.dto.Mypet_regDTO" id="listview">
		<result property="pet_photo" column="img" />
	</resultMap>


	<select id="bar" resultType="int">
		select count(*) from mypet where master_id=#{value}
	</select>
	
	<select id="pointcount" resultType="int">
		select count(*) from points where p_id=#{value}
	</select>
	
	
	<select id="navibar" resultType="kh.pet.dto.Mypet_regDTO" resultMap="listview">
		select * from (select mypet.*, row_number() over(order by petseq desc)rum from
		mypet) where rum between #{start} and #{end} and master_id=#{id}
	</select>
	
	<select id="pointbar" resultType="kh.pet.dto.PointDTO">
		select * from (select points.*, row_number() over(order by p_date desc)rum from
		points) where rum between #{start} and #{end} and p_id=#{id}
	</select>
	
	
</mapper>